/*
Devin Brueberg
 CSC435 Adv Web App Development
 Want Application - CartCard.css
 March 21, 2021
 Last Edited (Initials, Date, Edits):
 DAB, 03/27/2021, Updated buttons to material ui 
    components and altered the styling
 */

/*  CartCards are the products in the cart, they 
    will display flex column nowrap in their 
    containers
*/
.CartCard {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid var(--orange-theme);
    border-radius: 1rem;
    width: 25rem;
    height: 34.5rem;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: .5rem 0;
    max-width: 100%;
}

/* Images will not be more than 200px wide
*/
.cartCardImage {
    max-width: 200px;
}

/* Card quantity input will display center
*/
.cartCardQuantity {
    width: 2rem;
    text-align: center;
    margin-top: auto;
}

/* Standard theme button styling
*/
.cartCardRemove {
    color: var(--button-text);
    background: var(--orange-theme);
    border: var(--button-border-width) solid var(--button-border);
    padding: .15rem;
}

/* Standard theme button styling
*/
.CartCard Button {
    font-weight: bold;
    color: var(--button-text);
    background: var(--orange-theme);
    border: var(--button-border-width) solid var(--button-border);
    padding: .15rem;
    margin-top: .3rem;
}

/* On hover the background will change color
*/
.CartCard Button:hover {
    background: black;
}

/* Card update fields will display flex for formatting
*/
.cartCardUpdate {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    margin-top: auto;
}

/*  Card Quantity will have its own div and be centered 
    flex
*/
.cartQuantity {
    align-self: center;
    justify-content: center;
    display: flex;
}

/*  Max width of the productInfo table will be 100%
*/
ul.product li {
    max-width: 100%;
} 

/*  Disc style list type
*/
ul.product li {
    list-style-type: disc;
}

/*  Max width of the productInfo li will be 80%
*/
ul.product {
    width: 80%;
    margin: 0;
    padding: 2rem;
}